.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    /*fr units are fractions of the grid, 2fr 1fr would be 2/3 and 1/3, 1fr 1fr would be half and half etc.*/
    grid-template-columns: repeat(2, 1fr);
    /* adds a gap between grid elements*/
    gap: 20px;
    justify-content: center;
    /*for align-items you need a height intialized within the same selector for it to work.*/
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn:hover {
    transform: scale(0.98);
}

/**
*   Backgrounds and colored buttons
*/

.bg-primary, .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-secondary, .btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark, .btn-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-primary a, .btn-primary a, .bg-secondary a, .btn-secondary a, .bg-dark a, .btn-dark a {
    color: #fff;
}

.bg-light, .btn-light {
    background-color: var(--light-color);
    color: #333;
}

/**
*   Text
*/

.text-center {
    text-align: center;
}

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

/**
*   Margin and Text
*/

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem;
}

.my-3 {
    margin: 2rem;
}

.my-4 {
    margin: 2.5rem;
}

.my-5 {
    margin: 3rem;
}

.m-1 {
    margin: 1rem ;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 2.5rem;
}

.m-5 {
    margin: 3rem;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem;
}

.py-3 {
    padding: 2rem;
}

.py-4 {
    padding: 2.5rem;
}

.py-5 {
    padding: 3rem;
}

.p-1 {
    padding: 1rem ;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 2.5rem;
}

.p-5 {
    padding: 3rem;
}