html, body {
    height: 100vh;
}

.element {
    height: 100vh;
    width: 100vw;
    animation: pulse 5s infinite;
    /*animation-duration: 5s;
    animation-name: pulse;
    animation-iteration-count: infinite;*/
}

@keyframes pulse {
    0% {background-color: #001f3f;}
    100% {background-color: #ff4136;}
}