*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    background-color: #333;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    
}

.wrapper {
    width: 100%;
    max-width: 960px;
    position: relative;
}

nav {
    padding: 0;
}

.logo {
    background-color: #f04343;
    color: #fff;
    font-size: 1.2rem;
    padding: .8rem 1rem;
}

.logo span {
    font-weight: 400;
}

.hamburger {
    position: absolute;
}

.menu-toggle {
    position: absolute;
    top: 50%;
    left: 90%;
}

.hamburger, .hamburger::before, .hamburger::after {
    content: "";
    display: block;
    background-color: #ebebd3;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    transition: all ease-in-out 350ms;
}

.hamburger::before {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
}

.hamburger::after {
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
}

.open .hamburger {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.open .hamburger::before {
    display: none;
}

.open .hamburger::after {
    transform: translateY(-1px) rotate(-90deg);
    -webkit-transform: translateY(-1px) rotate(-90deg);
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav .opening {
    display: block;
    height: 40px;
}

nav li {
    border-bottom: 1px solid #f6f4e2;
    padding: 1rem 3rem;
}

nav li:last-child {
    border-bottom: none;
}

nav a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: #E4B363;
}

nav a:focus {
    background-color: #E4B363;
}

.site-nav i {
    font-size: 1.2rem;
    margin-right: 15px;
    width: 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 780px) {
    
    .menu-toggle {
        display: none;
    }
    
    .site-nav {
        display: flex;
    }
    
    .desktop {
        display: flex;
    }

    nav ul {
        flex-direction: row;
    }

    nav li {
        border-bottom: none;
        padding: 0.8rem 0;
        flex: 1 1 auto;
        text-align: center;
    }

    nav {
        background-color: #f04343;
    }

    nav a {
        
        padding: 0.8rem 0;
        margin: 0 1rem;
        background-color: #f04343;
    }

    nav a:hover {
        background-color: rgba(255,255,255,.10);;
    }
    
    nav a:focus {
        background-color: rgba(255,255,255,.10);;
    }

    .logo {
        margin: 0;
        padding-left: 20px;
        flex: 0 0 200px;
    }

    .site-nav i {
        display: none;
    }
}