
/*
#wrapD3Cube {
    width: 250px;
    height: 213px;
    margin: 20px auto;
    background-color: #EEE;
}

#D3Cube {
    width: 112px;
    height: 112px;
    top: 50px;
    transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    margin: auto;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
*/
/*
#D3Cube > div {
    position: absolute;
    /*-webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;*/
/*    width: 112px;
    height: 112px;
    float: left;
    overflow: hidden;
    opacity: 0.85;
}
*/
/*
#side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #FFF;
}

#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #ffaf1c;
}

#side3 {
    transform: translateX(0px) translateY(0px) translateZ(56px);
    background-color: #58d568;
}

#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #ed3030;
}

#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #1c5ffe;
}

#side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #f2f215;
}
*/

body {
    display: flex;
    flex-wrap: wrap;
}

div {
    color: white;
    text-align: center;
}

.color1 {
    background: #5a1354;
    border-radius: 5px;
    height: 100px;
    margin: 100px;
    width: 100px;
}

.color2 {
    background: #e52065;
    border-radius: 5px;
    height: 100px;
    margin: 100px;
    width: 100px;
}

.color3 {
    background: #5A1331;
    border-radius: 5px;
    height: 100px;
    margin: 100px;
    width: 100px;
}

.color4 {
    background: #3D135A;
    border-radius: 5px;
    height: 100px;
    margin: 100px;
    width: 100px;
}

.color5 {
    background: #a01c70;
    border-radius: 5px;
    height: 100px;
    margin: 100px;
    width: 100px;
}

.color6 {
    background: #7d1865;
    border-radius: 5px;
    height: 100px;
    margin: 100px;
    width: 100px;
}

.color7 {
    background: #c21e6d;
    border-radius: 5px;
    height: 100px;
    margin: 100px;
    width: 100px;
}

/*
img size 1079 x 720

font-family: 'Just Another Hand', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Titillium Web', sans-serif;

5a1354
e52065

#5A1331
#3D135A

a01c70
7d1865
c21e6d

background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(251, 7, 217, 1) 10%,
        rgba(186, 12, 248, 1) 20%,
        rgba(95, 21, 242, 1) 30%,
        rgba(28, 127, 238, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(63, 218, 216, 1) 60%,
        rgba(79, 220, 74, 1) 70%,
        rgba(208, 222, 33, 1) 80%,
        rgba(255, 154, 0, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );

background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );

    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }

    8% {
        animation-timing-function: ease-in;
        opacity: 1;
    }

    17% {opacity: 1;}

    25% {opacity: 0;}

    100% {opacity: 0;}
*/