html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
*   Grid
*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container, .grid {
    width: 960px;
    margin: 0 auto;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

.hero {
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
    color: #fff;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 24px;
    font-weight: 100;
}

.logo {
    float: left;
    border-top: 4px solid #d7dae2;
    margin-top: 4px;
    padding-top: .5em;
    padding-right: 1em;
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3, .col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.grid, .col-1-3, .col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
}

/**
*   Primary Header
*/

.primary-header a {
    color: #fff;
}

.primary-header a:hover {
    color: #a9b2b9;
}

/**
*   Primary Footer
*/

.primary-footer {
    color: #6c89db;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}

.primary-footer small {
    float: left;
    font-weight: 400;
}

.primary-footer a {
    color: #fff;
}

.primary-footer a:hover {
    color: #a9b2b9;
}

/**
*   Custom Style
*/

body {
	background: #11073fe3;
	color: rgb(39, 58, 110);
	font: 300 16px/22px “Lato”, “Open Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

/**
*   Clearfix
*/

.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

/**
*   Rows
*/

.row {
    background: #fff;
    min-width: 960px;
    padding: 66px 0 44px 0;
}

.row-alt {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px 0;
}

.row, .row-alt {
    min-width: 960px;
}

/**
*   Leads
*/

.lead {
    text-align: center;
}

.lead p {
    font-size: 21px;
    line-height: 33px;
}

/**
*   Navigation
*/

.nav {
    text-align: right;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.nav li:last-child {
    margin-right: 0;
}

/**
*   Speakers
*/

.speaker-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    padding: 22px 0;
    text-align: center;
}

.speaker {
    margin-bottom: 44px;
}

/**
*   Schedule
*/

table {
    width: 100%;
    margin-bottom: 44px;
}

table:last-child {
    margin-bottom: 0;
}

th, td {
    padding-bottom: 22px;
    vertical-align: top;
}

th {
    padding-right: 45px;
    text-align: right;
    width: 20%;
}

td {
    width: 40%;
}

thead {
    line-height: 44px;
}

thead th {
    color: #648880;
    font-size: 24px;
}

tbody th {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 22px;
    text-transform: uppercase;
}

tbody td {
    border-top: 1px solid #dfe2e5;
    padding-top: 21px;
}

tbody td:first-of-type {
    padding-right: 15px;
}

tbody td:last-of-type {
    padding-left: 15px;
}

tbody td:only-of-type {
    padding-left: 0;
    padding-right: 0;
}

table a {
    color: #888;
}

table h4 {
    margin-bottom: 0;
}

.schedule-offset {
    color: #a9b2b9;
}

/**
*   Register
*/

.why-attend {
    list-style: square;
    margin: 0 0 22px 30px;
}

form {
    margin-bottom: 22px;
}

input, select, textarea {
    font: 300 16px/22px "Lato", "Open Sans", "Helvitica Neue", Helvitica, Arial, sans-serif;
}

.register-group {
    color: #648880;
    cursor: pointer;
    font-weight: 400;
}

.register-group input, .register-group select, .register-group textarea {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
}

.register-group input, .register-group textarea {
    width: 100%;
}

.register-group select {
    height: 34px;
    width: 60px;
}

.register-group textarea {
    height: 78px;
}

/**
*   Typography
*/

.btn {
    border: 5px;
    display: inline-block;
    margin: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.btn-alt {
    border: 1px solid #fff;
    padding: 10px 30px;
}

.btn-alt:hover {
    background: #fff;
    color: #648880;
}

.btn-default {
    border: 0;
    background: #648880;
    padding: 11px 30px;
    font-size: 14px;
}

.btn-default:hover {
    background: #77a198;
}

body{
    color: #273a6e;
    font: 300 16px/22px "Lato", "Open Sans", "Helvitica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    color: #4568c9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

h1, h2, h3, h4 {
    color: #6c89db;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}

a {
    color: #6c89db;
    text-decoration: none;
}

a:hover {
    color: #a9b2b9;
}

p a {
    border-bottom: 1px solid #dfe2e5;
}

.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}

.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.teaser a:hover h3 {
    color: #a9b2b9;
}