/**
*   Browser resets
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
*   General
*/

html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
    color: black;
}

/**
*   Nav/Header
*/

header {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding-top: 1vh;
    z-index: 2;
    background-image: linear-gradient(45deg, rgba(97, 64, 81, 0.95), rgba(229, 32, 101, 0.80),rgba(97, 64, 81, 0.90));
}

header > h1 {
    justify-content: center;
    padding-left: 20vw;
    font-family: 'Just Another Hand', cursive;
    font-size: 2rem;
    font-weight: 800;
    /*Maybe remove this and change text to different color
    */
    background: linear-gradient(45deg, #5a1354, #e52065, #5a1354);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header > nav {
    margin-right: 2vw;
}

header > h1, header > nav {
    padding-top: 4vh;
}

.logo {
    height: 10vh;
    margin-left: 5vw
}

.btn {
    border: 2px solid #5a1354;
    border-radius: 5px;
    display: inline-block;
    background: linear-gradient(to right, #5a1354 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position .5s ease-out;
}

.btn:hover {
    background-position: left bottom;
}

.btn > a {
    padding: .2vh .5vw;
    text-decoration: none;
    display: inline-block;
    color: #5a1354;
    text-align: center;
    font-size: 0.9rem;
    transition: color .6s ease-out;
    font-family: 'Titillium Web', sans-serif;
}

.btn > a:hover {
    color: #e52065;
}

/**
*   Footer
*/

.footer-nav {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}


/**
*   Hero
*/

.hero {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
}

.salon-slideshow::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    opacity: 0.6;
}

.hero-content > h1, .hero-content > h3 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    color: #e52065;
    text-shadow: 2px 2px 4px #000000;
}

.hero-content > h1 {
    font-size: 1.8rem;
    font-weight: 800;

}

.hero-content > h3 {
    font-size: 1.2rem;
    padding-top: 12vh;
    font-weight: 500;
}

.btn-container {
    position: absolute;
    display: flex;
    top: 55vh;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}

.btn-container > div {
    position: relative;
}

.hero-btn {
    border: 3px solid #5a1354;
    border-radius: 10px;
    padding: 2vh 3vw;
    background: linear-gradient(to right, #5a1354 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position .5s ease-out;
}

.hero-btn:hover {
    background-position: left bottom;
}

.hero-btn > a {
    padding: .5vh 1vw;
    text-decoration: none;
    color: #5a1354;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color .6s ease-out;
}

.hero-btn > a:hover {
    color: #e52065;
}



/**
*   Slideshow animation
*/

.salon-slideshow > img {
    animation: slideshow 18s linear infinite 0s;
    color: transparent;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
}

.salon-slideshow > img:nth-child(2) {
    animation-delay: 6s;    
}

.salon-slideshow > img:nth-child(3) {
    animation-delay: 12s;
}

@keyframes slideshow {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }

    8% {
        animation-timing-function: ease-in;
        opacity: 1;
    }

    17% {opacity: 1;}

    25% {opacity: 0;}

    100% {opacity: 0;}
}

/**
* Grid and Featured
*/

.home {
    position: relative;
    display: block;
}

.home::before {
    content: "";
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home > h1 {
    background-color: #d61686;
    color: #5a1354;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


#featured::before {
    background-image: url(../images/salon-product-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(4px);
    /*figure out how to remove fixed background image here, might put it over in html*/
}


.featured-bg {
    display: flex;
    justify-content: space-around;
    padding: 2rem 10vh 2rem 10vh;
    /*position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;*/
    /*background-image: url(../images/salon-product-bg2.jpg);
    filter: blur(4px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;*/
}


/*
.featured-bg::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(0);
    background-color: #3a3535;
    opacity: 0.6;
}
*/

.product {
        
}

.product  a {
    text-decoration: none;
    color: #000000;
}

.product img {
    border-radius: 5px;
    height: 30vh;
}

.product p {
    font-size: 3rem;
    text-align: center;
}

.product  a:hover  p {
    color: #5a1354;
}

/*
font-family: 'Just Another Hand', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/