/**
*   Browser resets
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
*   General
*/

html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
    color: #ffffff;
    text-shadow: 1px 1px 5px #000000;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
*   Nav/Header
*/

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding-top: 1vh;
    background-color: #7d1865;
    /*background-image: linear-gradient(45deg, rgba(97, 64, 81, 0.95), rgba(229, 32, 101, 0.80),rgba(97, 64, 81, 0.90));*/
}

header > h1 {
    position: absolute;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    font-weight: 800;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    text-align: center;
    /*text-shadow: 1px 1px 5px #000000;*/
    color: #ffffff;
    /*Maybe remove this and change text to different color
    */
    /*
    background: linear-gradient(45deg, #5a1354, #e52065, #5a1354);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

header > h1, header > nav {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

span {
    z-index: 1;
}

.logo {
    height: 10vh;
    margin-left: 5vw;
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(1.15);
}

.primary-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 0.9rem;
    transition: color .6s ease-out;
    font-family: 'Titillium Web', sans-serif;
    margin-right: 2.3vw;
    z-index: 1;
}

.btn {
    border: 2px solid #5a1354;
    border-radius: 5px;
    padding: .2vh .5vw;
    margin-right: .5vw;
    box-shadow: 1px 1px 5px 0 #000000;
    background: linear-gradient(to right, #5a1354 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position .5s ease-out;
    cursor: pointer;
}

.btn:hover {
    background-position: left bottom;
    color: #e52065;
}

.btn > a {
    text-decoration: none;
    color: #5a1354;
}

.btn > a:hover {
    color: #e52065;
}

/**
*   Footer
*/

.primary-footer {
    display: flex;
    justify-content: space-between;
    height: 3.1rem;
    padding-top: .75rem;
    padding-bottom: .9rem;
    background-color: #c21e6d;
}

.primary-footer > a {
    font-family: 'Montserrat', sans-serif;
    /*text-shadow: 1px 1px 5px #000000;*/
    color: #ffffff;
    margin-left: 7vw;
    text-decoration: none;
    line-height: 2rem;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 600;
}

.primary-footer > a:hover {
    color: black;
}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-right: 1.5vw;
    font-size: 0.9rem;
    font-family: 'Titillium Web', sans-serif;
}

.btn-footer {
    padding: .35vh .7vw;
}


/**
*   Hero
*/

.hero {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    z-index: 2;
}

.salon-slideshow::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    opacity: 0.6;
}

.hero-content > h1, .hero-content > h3 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    color: #e52065;
    /*text-shadow: 2px 2px 4px #000000;*/
}

.hero-content > h1 {
    font-size: 1.8rem;
    font-weight: 800;

}

.hero-content > h3 {
    font-size: 1.2rem;
    padding-top: 12vh;
    font-weight: 500;
}

.btn-container {
    position: absolute;
    display: flex;
    top: 55vh;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}

.btn-container > div {
    position: relative;
}

.hero-btn {
    border: 3px solid #5a1354;
    border-radius: 10px;
    padding: 2vh 3vw;
    margin: 0;
    background: linear-gradient(to right, #5a1354 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.hero-btn > a {
    padding: .5vh 1vw;
    text-decoration: none;
    color: #5a1354;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color .6s ease-out;
}

/**
*   Slideshow animation
*/

.salon-slideshow > img {
    color: transparent;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
}

.salon-slideshow > img:nth-child(1) {
    position: absolute;
    z-index: 0;
    animation: slideshow 18s ease-in-out 0s infinite;
}

.salon-slideshow > img:nth-child(2) {
    position: absolute;
    z-index: -1;
    animation: slideshow 18s ease-in-out 6s infinite;
}

.salon-slideshow > img:nth-child(3) {
    position: absolute;
    z-index: -2;
    animation: slideshow 18s ease-in-out 12s infinite;
}

@keyframes slideshow {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

/**
*   Featured
*/

.home {
    position: relative;
}

.home::before {
    content: "";
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home > h1 {
    background-color: #a01c70;
    color: #ffffff;
    /*text-shadow: 1px 1px 5px #000000;*/
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


#featured::before {
    background-image: url(../images/salon-product-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    filter: blur(4px);
}


.featured-bg {
    display: flex;
    justify-content: space-around;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.featured-bg::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(0);
    background-color: #3a3535;
    opacity: 0.3;
    z-index: -1;
}

.featured-product  a {
    text-decoration: none;
    color: #000000;
    text-shadow: none;
}

.featured-product img {
    border: 3px solid transparent;
    border-radius: 5px;
    height: 30vh;
}

.featured-product p {
    font-size: 3rem;
    text-align: center;
}

.featured-product  a:hover  p {
    color: #5a1354;
}

.featured-product a:hover img {
    border: 3px solid #5a1354;
}

/**
*   Products Page
*/

.products {
    position: relative;
}

.products::before {
    background-image: url(../images/product-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    filter: blur(4px);
}

.products::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(0);
    background-color: #302c2c;
    opacity: 0.3;
    z-index: -1;
}

.product-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.product-info {
    display: flex;
    margin-right: 7rem;
    margin-left: 7rem;
    padding-bottom: 2rem;
}

.product-info img {
    border-radius: 5px;
    height: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-info p {
    padding-top: .2rem;
    font-size: 1rem;
    text-align: center;
}

.left-third {
    width: 33%;
    padding: 1.5rem;
    box-shadow: 0px 0px 2px 1px #3a3535;
}

.right-twothird {
    width: 66%;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0px 0px 2px 1px #3a3535;
}

/**
*   Services
*/



/**
*   Stylists
*/



/**
*   Book now
*/

.book {
    position: relative;
    display: flex;
    /*height: 100vh;*/
}

.book::before {
    background-image: url(../images/book-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    filter: blur(4px);
}

.book::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(0);
    background-color: #302c2c;
    opacity: 0.3;
    z-index: -1;
}

.book-left-half {
    width: 50%;
    padding: 1.5rem 3rem 1.5rem 6rem;
    text-align: left;
}

.book-right-half {
    width: 50%;
    padding: 1.5rem 3rem;
    text-align: left;
}

.info-container {
    line-height: 1.4rem;
    
}

.info-container > h2 {
    display: inline-block;
    border-bottom: 2px solid #5a1331;
}

.book-container {
    font-size: 0.8rem;
    border: 2px solid #5a1331;
    padding: 1rem;
    line-height: 1rem;
}

iframe {
    margin-top: 1.3rem;
    box-shadow: 1px 1px 5px 0 #000000;
}

.book-container div, .book-container label {
    clear: both;
    float: left;
}

.book-container div {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    border-bottom: 2px solid #5a1331;
    width: 100%;
}

.book-container div:first-of-type {
    padding-top: 0;
}

.book-container div:last-of-type {
    border-bottom: none;
}

.book-container input {
    float: left;
}

#first-name, #last-name, #service-select > select, #book-datetime > input, #comment > textarea {
    height: 0.9rem;
    font-size: 0.8rem;
}

#choose-stylist, #service-select {
    display: flex;
    flex-direction: column;
}

#choose-stylist li {
    margin-top: 0.3rem;
}

#service-select > select {
    font-size: 0.7rem;
    margin-top: 0.3rem;
    width: 50%;
}

#service-select > select:first-child {
    margin-top: 0;
}

#book-datetime > input {
    font-size: 0.7rem;
    margin-right: 0.3rem;
}
/*
#bookTime:invalid + span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
}
  
#bookTime:valid + span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}
*/
#comment > textarea {
    margin-top: 0.3rem;
    height: 3.5rem;
}

#book-button {
    margin-top: 0.6rem;
}

.btn-book {
    font-size: 0.9rem;
    font-weight: 500;
}

/*
img size 1079 x 720

font-family: 'Just Another Hand', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Titillium Web', sans-serif;

5a1354
e52065

#5A1331
#3D135A

a01c70
7d1865
c21e6d

background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(251, 7, 217, 1) 10%,
        rgba(186, 12, 248, 1) 20%,
        rgba(95, 21, 242, 1) 30%,
        rgba(28, 127, 238, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(63, 218, 216, 1) 60%,
        rgba(79, 220, 74, 1) 70%,
        rgba(208, 222, 33, 1) 80%,
        rgba(255, 154, 0, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );

background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );

    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }

    8% {
        animation-timing-function: ease-in;
        opacity: 1;
    }

    17% {opacity: 1;}

    25% {opacity: 0;}

    100% {opacity: 0;}
*/